<div id="title-container" class="d-flex align-items-center justify-content-center">
  <img src="/assets/icon.png" alt="Dropgate Icon" width="34" height="34" class="me-2 align-middle" loading="lazy"
    style="display:block;">
  <h1 class="h3 fw-semibold mb-0" style="line-height:1;">Dropgate</h1>
</div>
