<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">

<head>
  <%- include('../partials/head-meta') %>
  <link rel="stylesheet" href="/css/error.css" />

  <script src="/js/theme.js" defer></script>
  <script type="module" src="/js/page-common.js"></script>
</head>

<body>
  <main>
    <div class="container-main text-center">
      <%- include('../partials/header') %>
      <p class="lead mb-4">A lightweight, open-source, privacy-focused file sharing tool.</p>

      <div id="status-card" class="card shadow-sm border-warning">
        <div class="card-body p-4">
          <div id="icon-container" class="mb-3 text-warning">
            <span class="material-icons-round">report_problem</span>
          </div>

          <h5 class="card-title mb-2" id="status-title">File Not Found</h5>
          <p class="card-text text-body-secondary" id="status-message">
            The file you are trying to access does not exist, has expired, or has already been downloaded.
          </p>
        </div>
      </div>

      <div id="help-statement" class="text-body-secondary mt-4">
        <strong>What do I do now?</strong><br>
        <p>Ensure that the file link is correct and try again. Otherwise, ask the person who shared the file with you
          for assistance.</p>
      </div>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>

</html>