name: Build and Publish Dropgate Server to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version from package.json
        id: version
        run: echo "VERSION=$(jq -r .version server/package.json)" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push multi-arch image
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            -t willtda/dropgate-server:latest \
            -t willtda/dropgate-server:${{ steps.version.outputs.VERSION }} \
            --push \
            ./server/
