name: Build and Publish Shadownloader Server to Docker Hub
on:
  [workflow_dispatch]
jobs:
  publish_image:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    
    - name: Get version from package.json
      id: version
      run: echo "VERSION=$(jq -r .version server/package.json)" >> $GITHUB_OUTPUT
    
    - name: Build Image
      run: |
        docker build \
          -t willtda/shadownloader-server:latest \
          -t willtda/shadownloader-server:${{ steps.version.outputs.VERSION }} \
          ./server/
    
    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
    
    - name: Push Image to Docker Hub
      run: |
        docker push willtda/shadownloader-server:latest
        docker push willtda/shadownloader-server:${{ steps.version.outputs.VERSION }}
